@charset "utf-8";

/*BY PROJETOS CRIADOS PARA AULAS GRATIS DA ALGAWORKS*/

body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal
}

header {
	padding: 5px;
	margin-bottom: 20px;
	height: 30px;
	background-color: #545454;
	color: #fff;
	box-shadow: 0px 2px 2px #ccc
}

#conteudo {
	padding: 0px 8px
}

h1 {
	font-size: 24px;
	font-weight: 500;
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px
}

.linha1 {
	padding: 1px 1px 0px 0px;
	margin-bottom: 1px;
}

.linha2 {
	padding: 46px 5px;
	margin-bottom: 10px;
	height: 0px;
}

.linha3 {
	padding: 1px 0px 0px 10px;
}

.linha4 {
	padding: 0px 0px 0px 10px;
}